## Account settings
set from = "jorrifransen@gmail.com"
set realname = "Jorri Fransen"

set mbox_type = Maildir
set folder = "~/.mail/gmail/"

set imap_pass="`pass google.com/mbsync-app-password`"
set smtp_pass=$imap_pass

set smtp_url ="smtp://jorrifransen@gmail.com@smtp.gmail.com:587"

set header_cache = "~/.cache/mutt/gmail/header_cache"
set message_cachedir = "~/.cache/mutt/gmail/message_cache"

set spoolfile = +INBOX
set postponed = '+[Gmail].Drafts' 
set record = '+[Gmail].Sent Mail' 
set trash = +Trash

mailboxes =INBOX ='[Gmail].Drafts' =Facturen =Family ='[Gmail].Spam' =Trash

# navigation settings
macro index,pager gi '<change-folder>=INBOX<enter>' "go to inbox"
macro index,pager gs "<change-folder>=[Gmail].Sent Mail<enter>" "go to sent"
macro index,pager gd "<change-folder>=[Gmail].Drafts<enter>" "go to drafts"
macro index,pager gt "<change-folder>=Trash<enter>" "go to trash"
macro index,pager gj "<change-folder>=[Gmail].Spam<enter>" "go to junk"
macro index,pager gf "<change-folder>=Facturen<enter>" "go to facturen"

# synchronization settings ['s' to sync]
macro index S "<shell-escape>mbsync gmail<enter>" "sync email"
